.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin-right: 15px;
}

.language-dropdown .dropdown-toggle::after {
  display: none;
}

.flag-icon {
  height: 16px;
  width: auto;
}

.mr-auto {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 650;
  letter-spacing: 1.3px;
  padding: 0px 4px 0;

  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }
}

.mr-auto a:hover {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}

.mr-auto a.active {
  border-bottom: 3px solid #ffffff;
  padding-bottom: 5px;
}
